@model EmployeeDisplay

@{
    ViewData["Title"] = "Sign Up";
}

<h1>Employee Sign Up</h1>

<p>
    <a asp-action="List">View Employees</a>
</p>

@* Sign up Form *@
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>
                <div class="form-group">
                    <label asp-for="EmployeeId"></label>
                    <input asp-for="EmployeeId" class="form-control" />
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
            </p>

            <p>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </p>

            <p>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </p>

            <p>
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-label">Email Address</label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </p>

            <p>
                <div class="form-group">
                    <label asp-for="ConfirmEmail" class="control-label">Confirm Email</label>
                    <input asp-for="ConfirmEmail" class="form-control" />
                    <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                </div>
            </p>

            <p>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </p>

            <p>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </p>

            <p>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </p>
        </form>
    </div>
</div>

<p>
    <div>
        <a asp-controller="Home" asp-action="List">Back to List</a>
    </div>
</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
